<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveproject.ycce.iimp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".volleyservice.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //////////////////////////////////////////////////////////////////////////////////////////
        <activity
            android:name=".splash.Activity_Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //////////////////////////////////////////////////////////////////////////////////////////

        <activity
            android:name=".login.Activity_FrontLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.ycce.iimp.FRONT_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.alreadyregistered.Activity_OTP_Verification"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.ycce.iimp.OTP_VERIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.newregistration.Activity_Validate_NewRegistration"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.NR_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.newregistration.Activity_OTP_Verification_NewRegistration"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.OTP_VERIFICATION_NR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.newregistration.Activity_NewRegistration_Form1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.NR_FORM1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.newregistration.Activity_NewRegistration_Form2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.NR_FORM2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messaging.Activity_Home_Messaging"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.HOME_MESSAGING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userprofile.Activity_UserProfile"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.USER_PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userprofile.Activity_EditProfile"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.EDIT_PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".filemanager.Activity_File"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.ACTIVITY_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".news.NewsActivity" />
        </activity>

        <activity
            android:name=".news.NewsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.NEWS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".news.Activity_CreateNews"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.CREATE_NEWS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pendingrequests.PRActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.PENDING_REQUESTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".creation.groups.Activity_GroupCreation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.GROUP_CREATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".creation.groups.conditionalgroup.Activity_DistributionList_ConditionalGroup"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.DISTRIBUTIONLIST_CONDITIONAL_GROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".creation.groups.customizedgroup.Activity_DistributionList_CustomizedGroup"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.DISTRIBUTIONLIST_CUSTOMIZED_GROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".creation.groups.customizedgroup.Activity_RoleSelection"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.ROLESELECTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".events.Activity_CreateEvent"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.CREATE_EVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".polling.Activity_CreatePoll"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.CREATE_POLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".polling.Activity_PollResults"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.POLL_RESULTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messaging.groupmessaging.Activity_Messaging"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.GROUP_MESSAGES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messaging.personalmessaging.Activity_PersonalMessageDetails"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.PM_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".creation.personalmessage.Activity_CreationPersonalMessage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.PM_CREATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".creation.personalmessage.Activity_DistributionList_PersonalMessage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.PM_CREATION_DL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messaging.groupmessaging.Activity_Group_Details"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.liveproject.persi.ycce.iimp.GROUP_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".events.AlarmService" android:enabled="true" android:exported="false"/>
        <service android:name=".events.EventHandlerService" android:enabled="true" android:exported="false"/>
        <service android:name=".networkservice.updateservice.GroupMessageService" android:enabled="true" android:exported="false"/>

        <service
            android:name=".networkservice.GetService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".networkservice.PostService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".networkservice.PostPersistentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".networkservice.updateservice.DowndateService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".networkservice.updateservice.UpdateService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".networkservice.updateservice.PMDownReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PMDownReceiver" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".networkservice.updateservice.GroupReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.GroupReceiver" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".messaging.groupmessaging.Adapter_Group_Message$PollHolder$PollAnswerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PollAnswerReceiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".events.AlarmReceiver" />

        <receiver
            android:name=".networkservice.updateservice.NetworkReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".networkservice.updateservice.PMReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PMReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".networkservice.updateservice.GMReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.GMReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".networkservice.updateservice.EventReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.EventReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".networkservice.updateservice.NewsReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.NewsReceiver"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".networkservice.updateservice.FetchNewsReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.FetchNewsReceiver"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".networkservice.updateservice.PollReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PollReceiver"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>